@media screen and (min-width: 450px) {
  .header {
    left: 4rem;
  }
}
@media screen and (min-width: 600px) {
  .hero,
  .hero > * {
    font-size: var(--fs-700);
  }
  .sub-hero {
    font-size: var(--fs-500);
  }
  .header {
    left: 4rem;
  }
  .paging-container {
    display: flex;
    right: 0;
  }
}
@media screen and (min-width: 750px) {
  .hero,
  .hero > * {
    font-size: var(--fs-800);
  }
  .sub-hero {
    font-size: var(--fs-600);
  }
  .header {
    left: 7rem !important;
  }
  .paging-container {
    display: flex;
    right: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .hero,
  .hero > * {
    font-size: var(--fs-800) !important;
  }
  .sub-hero {
    font-size: var(--fs-600) !important;
  }
  .header {
    left: 10rem !important;
  }
  .contact-left {
    display: block;
    left: 2rem;
  }
}
@media screen and (min-width: 1075px) {
  .contact-container {
    flex-direction: row;
    gap: 20px;
  }
  .contact-buttons {
    gap: 20px;
    flex-direction: row;
  }
  .contact-buttons button {
    width: 100%;
  }
  .contact-form {
    gap: 20px;
  }
  .contact-right {
    gap: 20px;
  }
  .contact-left {
    display: block;
    left: 5rem;
  }
}
@media screen and (min-width: 1075px) {
  .paging-container {
    display: flex;
    right: 4rem;
  }
}
