/*General DOC styling*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
:root {
  --col-light-100: #e5e7eb;
  --col-dark-100: #1e1e24;
  --col-dark-200: #212121;
  --col-dark-300: #000000;
  --col-accent: #1fe3cd;
  --col-accent-cancel: #d95050;

  --ff-base: "Poppins", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;
  --fw-very-bold: 1200;

  --fs-100: 0.65rem;
  --fs-150: 0.7rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-650: 2.5rem;
  --fs-675: 2.75rem;
  --fs-700: 3.75rem;
  --fs-800: 5rem;

  --cardSelectTime: 600ms;
  --floatTime: 1500ms;
  --colorChangeTime: 200ms;
  --moveTime: 500ms;

  --paddingsize-100: 1rem;
  --paddingsize-200: 1.5rem;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: var(--ff-base);
  color: var(--col-light-100);
  margin: 0;
  padding: 0;
}

/*End General DOC styling*/

/*General Page styling*/
body * {
  scroll-behavior: smooth;
}

.page-container {
  height: 100vh;
}

.page {
  height: 100dvh;
  background: var(--col-dark-100);
  color: var(--col-light-100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.portfolio {
  background: var(--col-dark-200);
}
#arrow-up,
#arrow-down {
  cursor: pointer;
  background: transparent;
  font-size: var(--fs-650);
  position: absolute;
  margin: auto;
  padding: 1rem;
  bottom: var(--paddingsize-200);
  animation: float var(--floatTime) ease-in-out infinite;
}
#arrow-up:hover,
#arrow-down:hover {
  color: var(--col-accent);
  font-size: var(--fs-675);
  transition: all var(--colorChangeTime) ease-in-out;
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);*/
    transform: translatey(-10px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}
.drop-cap:first-letter {
  color: var(--col-accent);
}
.highlight {
  color: var(--col-accent);
}

.vertical-line {
  border-left: 5px solid var(--col-light-100);
  height: 10rem;
  width: 2px;
}
.paging-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paging-number {
  font-weight: bold;
  color: var(--col-light-100);
  font-size: var(--fs-700);
  font-family: Arya, sans-serif;
}
.vertical-text {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  font-size: var(--fs-600);
  margin-top: 2.5rem;
}
.title-container {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-spacing {
  margin-top: 3.5rem;
}
.contact-spacing {
  margin-top: 4.75rem;
}
.hyperlink {
  /*text-decoration: none;*/
  cursor: pointer;
}
/*End General Page styling*/

/*HOMEPAGE Styling*/

.homepage::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../assets/SyeGenkjpg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.header {
  position: absolute;
  left: 2rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.header-title {
  display: flex;
}
.hero,
.hero > * {
  font-size: var(--fs-600);
}
.sub-hero {
  font-size: var(--fs-500);
}

/*End HOMEPAGE Styling*/

/*ABOUT-PAGE Styling*/

.about {
  flex-direction: column;
  align-items: center;
}

.tab-links {
  position: absolute;
  top: 2.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  cursor: pointer;
  list-style: none;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  background: var(--col-dark-100);
  color: var(--col-light-100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  border: 1px dashed var(--col-accent);
}

.link:hover {
  background: var(--col-accent);
  color: var(--col-dark-100);
}
.active {
  background: var(--col-accent);
  color: var(--col-dark-100);
  box-shadow: 0 0 7px 1px var(--col-accent);
}

.tab-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: calc(100% - 3.5rem - 40px);
  width: 90%;
  padding: 10px;
}

/*End ABOUT-PAGE Styling*/

/*PORTFOLIO Styling*/
.portfolio {
  width: 100%;
}

.container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.project {
  width: 80px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: var(--cardSelectTime) cubic-bezier(0.28, -0.03, 0.99, 0);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.project > .row {
  color: var(--col-light-100);
  display: flex;
  flex-wrap: nowrap;
}

.project > .row > .icon {
  color: var(--col-light-100);
  background: var(--col-dark-100);
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.project > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: calc(var(--cardSelectTime) / 2);
  transition: all calc(var(--cardSelectTime) / 2) ease;
}

.description p {
  padding-top: 5px;
  color: var(--col-light-100);
}

.description h4 {
  text-transform: uppercase;
}

.portfolio input {
  display: none;
}

.portfolio input:checked + label {
  width: 600px;
}

.portfolio input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.project[for="proj1"] {
  background-image: url("../assets/test.jpeg");
}

.project[for="proj2"] {
  background-image: url("../assets/test.jpeg");
}

.project[for="proj3"] {
  background-image: url("../assets/test.jpeg");
}

.project[for="proj4"] {
  background-image: url("../assets/test.jpeg");
}
button {
  width: 50px;
  height: 20px;
}

/*End PORTFOLIO Styling*/

/*CONTACT Styling*/
.contact-left {
  display: none;
  position: absolute;
  left: 5rem;
}
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4rem;
}

.contact-icon,
.contact-icon * {
  font-size: var(--fs-500);
  color: var(--col-light-100);
}

.contact-left span {
  font-size: var(--fs-300);
}
.contact-title,
.contact-title > * {
  font-size: var(--fs-650);
}
.contact-title {
  padding-inline: 2rem;
  border-bottom: 2px solid var(--col-accent);
  text-align: center;
  margin-bottom: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-box {
  position: relative;
}
.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--col-light-100);
  background: var(--col-dark-100);
  border-radius: 5px;
  outline: none;
  color: var(--col-light-100);
  font-size: var(--fs-300);
  transition: var(--moveTime);
}
.input-box span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: var(--fs-300);
  color: var(--col-light-100);
  text-transform: uppercase;
  transition: var(--moveTime);
}
.input-box textarea {
  height: 200px;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span,
.input-box textarea:focus ~ span {
  color: var(--col-accent);
  transform: translateX(10px) translateY(-7px);
  font-size: var(--fs-150);
  padding: 0 10px;
  background: var(--col-dark-100);
  border-inline: 1px solid var(--col-accent);
  letter-spacing: 0.15rem;
}
.span-highlight {
  color: var(--col-accent) !important;
  transform: translateX(10px) translateY(-7px);
  font-size: var(--fs-150) !important;
  padding: 0 10px !important;
  background: var(--col-dark-100);
  border-inline: 1px solid var(--col-accent);
  letter-spacing: 0.15rem;
}
.input-border {
  border: 1px solid var(--col-accent) !important;
}
.input-box input:valid,
.input-box input:focus,
.input-box textarea:focus {
  border: 1px solid var(--col-accent);
}
.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-buttons button {
  background: var(--col-dark-100);
  border-radius: 5px;
  width: auto;
  height: 2.5rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}
.contact-send {
  border: 2px solid var(--col-accent);
}
.contact-clear {
  border: 2px solid var(--col-accent-cancel);
}
.contact-send:hover {
  color: var(--col-dark-100);
  background: var(--col-accent);
}
.contact-clear:hover {
  color: var(--col-dark-100);
  background: var(--col-accent-cancel);
}
/*End CONTACT Styling*/
